﻿@model IEnumerable<KeepEverything.Consumer.RaysaDutra.Models.TaskViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/categoryAjax")

}

<div class="page-header">
    <h1>LISTA DE TAREFAS</h1>
    <h5>LISTAR POR TAG</h5>
</div>

<div class="row">

    <div class="col-md-12">
        <form class="form-horizontal col-sm-6" data-bind="submit: getTasksByCategory">
            <div class="form-group">
                <div class="col-sm-12">
                    <select class="selectpicker" data-bind="options:tags, optionsText: 'NameCategory', value: tagSeleted.Category" title="Selecione a tag" data-live-search="true"></select>
                    <button type="submit" class="btn btn-default">Listar</button>
                </div>
            </div>
        </form>

    </div>

    <div class="col-md-12" style="margin-top:25px;">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Descrição
                    </th>
                    <th>
                        Situação
                    </th>
                    <th>
                        Data de Criação
                    </th>
                    <th>
                        Data de Finalização
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: tasks">

                <tr>
                    <td>
                        <span data-bind="text: NameTask" />
                    </td>
                    <td>
                        <span data-bind="text: DescriptionTask" />
                    </td>
                    <td>
                        <span data-bind="text: CurrentSituationTask" />
                    </td>
                    <td>
                        <span data-bind="text: CreatedDateTask" />
                    </td>
                    <td>
                        <span data-bind="text: EndedDateTask" />
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
