/*"Icones" no site*/

@import url(http://weloveiconfonts.com/api/?family=fontawesome|fontelico|iconicfill|maki);
/* fontawesome */
[class*="fontawesome-"]:before 
{
  font-family: 'FontAwesome', sans-serif;
  font-size: 20px;
  color: #2B323A;
  
}

/* fontelico */
[class*="fontelico-"]:before 
{
  font-family: 'fontelico', sans-serif;
  font-size: 20px;
  color: #2B323A;
}

/* iconicfill */
[class*="iconicfill-"]:before 
{
  font-family: 'IconicFill', sans-serif;
  font-size: 20px;
  color: #2B323A;
}

/* maki */
[class*="maki-"]:before 
{
  font-family: 'maki', sans-serif;
  font-size: 20px;
  color: #2B323A;
}


/*Inicio do CSS*/

i{
    font-style: normal;
}

label , input
{
    display: inline-block;
    width: 90%;
    margin-bottom: 3%;
}

input
{
    padding: 6px 4px;
    font-size: 16px;
}
body
{
    background-color: #2B323A;
}
.btn-danger
{
  border-radius: 50%;
  margin: 3%;
}

.jumbotron
{
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

#delegacia , #banheiro, #evento, #hospitais,#comida, #dormir, #pontosturi, #praia
{
  background-color: #FBF9EA;
  padding: 16px;
}

#resultado
{
  border-top: solid 3px #2B323A;
}

#resultado, #mapa
{
  background-color: white;
  padding: 16px;
}

h3.maps{
  padding: 15px;
}