<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Financial</key>
	<array>
		<string>Do not reveal your password and/or security keys to others, they are personal and not transferable.</string>
		<string>Never store your bank cards and passwords or security keys at the same place.Write down and store them in different places.</string>
		<string>Never accept help from strangers even if they say they work in the bank.</string>
		<string>Do not reveal or type passwords or security keys in strange&apos;s mobile devices.</string>
		<string>Report immediately to the financial institution the theft or loss of bank/credit card.</string>
		<string>Do not lend your card to anyone or allow outsiders to examine it under any pretext, it can be exhanged without you realizing it.</string>
		<string>Avoid withdrawing large ammounts of money.</string>
		<string>Use preferably ATMs located in markets and malls.</string>
		<string>It is forbidden the use of cell phone inside banks.</string>
	</array>
	<key>Aware</key>
	<array>
		<string>Always accompany your child, do not leave him unattended (try to use some identification device:Name, pone number and accomodation place)</string>
		<string>Avoid crowded places.</string>
		<string>Cross streets at the crosswalk, obeying the traffic or transit commandssigns and make sure vihicles hhave fully stopped before you cross the street.</string>
		<string>Avoid walking alone around isolated, unknown or poorly lit places, especially at night.</string>
		<string>When visiting sights, preferably, do with a group accompanied by an official tour guide.</string>
	</array>
	<key>Beach</key>
	<array>
		<string>Do not bring valuable items to the beach.</string>
		<string>Stay close to your belongigs and do not leave them with strangers.</string>
		<string>Observe the signs positioned on the beach.</string>
		<string>The lifeguards are uniformed with red shirt and black swimming trunks, placed on stations located on the boardwalk to the beaches.</string>
		<string>Try to identify a fixed reference point from your position on the beach.</string>
	</array>
	<key>General</key>
	<array>
		<string>Always carry bags or backpacks in front of the body.</string>
		<string>Move around the city with just enough money for your daily expenses and always keep it in internal pocket.</string>
		<string>Some behaviors are considered crimes in Brazil, such as serving alcohol to minors,transporting and purchasing or consuming drugs, non-consensual sex, prostitution with minors (under 18 years) even if consensual, it is considered sexual exploitation of children and adolescents.</string>
		<string>Distrust any &quot;favors&quot; from strangers.</string>
		<string>Leave valuable assests safety at your lace of accomodation.</string>
		<string>Do not accept drinks from strangers</string>
		<string>Try to stick to your schedule and tell people you know about your destination.</string>
		<string>Request information on adequate booths for tourists, and only to public safety officers.</string>
		<string>Always have your passport with you.But we recommend that tourists have photocopies of identification pages and entry  stamp of Brazilian immigration stored on their place stored on their place of accomodation.In case of loss, copies can assist the authorities.</string>
		<string>Be in possession of the city map.</string>
		<string>Always carry the card with your hotel address, phone numbers and other useful contacts</string>
		<string>Avoid taking all your credit/bank cards with you</string>
		<string>Do not handle your wallet ormoney in public places</string>
		<string>Avoid walking while talking on the cell phone.</string>
		<string>Try not wear or exhibit expensive jewelry and eletronic equipment.</string>
		<string>Avoid taking collet calls, if you are not expecting it.</string>
	</array>
</dict>
</plist>
