<!DOCTYPE html>
<html lang="pt-br" ng-app="visitaRio">
<head>
    <meta charset="UTF-8">
    <title>Visita-Rio</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>
<body>
    <div ng-controller="appController">
        <div class="jumbotron">
            <h1>Bem-Vindo ao Visita Rio</h1>
            <p>Escolha o que deseja procurar</p>
        </div>
        
        <div>
            
            <p><a ng-click="ShowBanheiro()" class="btn btn-warning btn-lg btn-block"><i class="maki-toilet"></i> Banheiros</a></p>
            <div id="banheiro" ng-show = "IsBanheiro" page-role="page">
                <div class="page-header">
                    <h2>Banheiros</h2>
                </div>  
                <form>
                    <fieldset>
                        <legend>Filtro de Busca</legend>
                        <div class="input-group">
                            <label id="banlocal">Qual Bairro você está?</label>
                            <input type="text" id="banlocal" placeholder="Digite o local"/>
                        </div>
                    </fieldset>
                </form>
                <p><a ng-click="ShowResult()" class="btn btn-success btn-lg btn-block"><i class="glyphicon glyphicon-search"></i> Pesquisar</p></a>
            </div>  
            
            <p><a ng-click="ShowDele()" class="btn btn-primary btn-lg btn-block"><i class="maki-police"></i> Delegacias</a></p>
            <div id="delegacia" ng-show = "IsDele" page-role="page">
                <div class="page-header">
                    <h2>Delegacia</h2>
                </div>  
                <form>
                    <fieldset>
                        <legend>Filtro de Busca</legend>
                        <div class="input-group">
                            <label id="deleregi">Região de Proteção</label>
                            <input type="text" id="deleregi" placeholder="Qual Bairro você está?"/>
                        </div>
                        <div class="input-group">
                            <label id="deledp">DP</label>
                            <input type="text" id="deledp" placeholder="Digite a DP"/>
                        </div>
                    </fieldset>
                </form>
                <p><a ng-click="ShowResult()" class="btn btn-success btn-lg btn-block"><i class="glyphicon glyphicon-search"></i> Pesquisar</p></a>
            </div>
            
            <p><a ng-click="ShowEvento()" class="btn btn-warning btn-lg btn-block"><i class="maki-theatre"></i> Eventos</a></p>
            <div id="evento" ng-show = "IsEvento" page-role="page">
                <div class="page-header">
                    <h2>Evento</h2>
                </div>  
                <form>
                    <fieldset>
                        <legend>Filtro de Busca</legend>
                        <div class="input-group">
                            <label id="eventotip">Tipo de Evento</label>
                            <input type="text" id="eventotip" placeholder="Tipo de Evento"/>
                        </div>
                        <div class="input-group">
                            <label id="eventodata">Data</label>
                            <input type="text" id="eventodata" placeholder="Diga a Data"/>
                        </div>
                    </fieldset>
                </form>
                <p><a ng-click="ShowResult()" class="btn btn-success btn-lg btn-block"><i class="glyphicon glyphicon-search"></i> Pesquisar</p></a>
            </div>
            
            <p><a ng-click="ShowHosp()" class="btn btn-primary btn-lg btn-block" ><i class="maki-hospital"></i> Hospitais</a></p>
            <div id="hospitais" ng-show = "IsHosp" page-role="page">
                <div class="page-header">
                    <h2>Hospital</h2>
                </div>  
                <form>
                    <fieldset>
                        <legend>Filtro de Busca</legend>
                        <div class="input-group">
                            <label id="hospnome">Nome</label>
                            <input type="text" id="hospnome" placeholder="Nome"/>
                        </div>
                        <div class="input-group">
                            <label id="hospserv">Serviço</label>
                            <input type="text" id="hospserv" placeholder="Digite o serviço"/>
                        </div>
                        <div class="input-group">
                            <label id="hospconv">Convênio</label>
                            <input type="text" id="hospconv" placeholder="Digite o convênio"/>
                        </div>
                    </fieldset>
                </form>
                <p><a ng-click="ShowResult()" class="btn btn-success btn-lg btn-block" ><i class="glyphicon glyphicon-search"></i> Pesquisar</p></a>
            </div>
            
            <p><a ng-click="ShowComida()" class="btn btn-warning btn-lg btn-block" ><i class="maki-restaurant"></i> Onde Comer</a></p>
            <div id="comida" ng-show = "IsComida" page-role="page">
                <div class="page-header">
                    <h2>Onde Comer</h2>
                </div>  

                <form>
                    <fieldset>
                        <legend>Filtro de Busca</legend>
                        <div class="input-group">
                            <label id="comidanome">Nome do Restaurante</label>
                            <input type="text" id="comidanome" placeholder="Digite o nome do restaurante"/>
                        </div>
                        <div class="input-group">
                            <label id="comidaserv">Tipo de Comida</label>
                            <input type="text" id="comidaserv" placeholder="Digite o tipo de comida"/>
                        </div>
                    </fieldset>
                </form>
                <p><a ng-click="ShowResult()" class="btn btn-success btn-lg btn-block" ><i class="glyphicon glyphicon-search"></i> Pesquisar</p></a>
            </div>
            
            <p><a ng-click="ShowDormir()" class="btn btn-primary btn-lg btn-block" ><i class="maki-lodging"></i> Onde Dormir</a></p>
            <div id="dormir" ng-show = "IsDormir" page-role="page">
                <div class="page-header">
                    <h2>Onde Dormir</h2>
                </div>  
                <form>
                    <fieldset>
                        <legend>Filtro de Busca</legend>
                        <div class="input-group">
                            <label id="hotelnome">Nome do Hotel</label>
                            <input type="text" id="hotelnome" placeholder="Digite o nome do hotel"/>
                        </div>
                        <div class="input-group">
                            <label id="hoteltipo">Tipo de Hospedagem</label>
                            <input type="text" id="hoteltipo" placeholder="Digite o tipo de hospedagem"/>
                        </div>              
                    </fieldset>
                </form>
                <p><a ng-click="ShowResult()" class="btn btn-success btn-lg btn-block" ><i class="glyphicon glyphicon-search"></i> Pesquisar</p></a>
            </div>
            <p><a ng-click="ShowPontos()" class="btn btn-warning btn-lg btn-block" ><i class="fontawesome-camera-retro"></i> Pontos Turísticos</p></a>
            <div id="pontosturi" ng-show = "IsPontos" page-role="page">
                <div class="page-header">
                    <h2>Pontos Turisticos</h2>
                </div>
                <form>
                    <fieldset>
                        <legend>Filtro de Busca</legend>
                        <div class="input-group">
                            <label id="pontonome">Nome</label>
                            <input type="text" id="pontonome" placeholder="Digite o nome"/>
                        </div>
                        <div class="input-group">
                            <label id="pontofazer">O que deseja fazer</label>
                            <input type="text" id="pontofazer" placeholder="Digite o que deseja fazer"/>
                        </div>      
                    </fieldset>
                </form>
                <p><a ng-click="ShowResult()" class="btn btn-success btn-lg btn-block" ><i class="glyphicon glyphicon-search"></i> Pesquisar</p></a>
            </div>
            
            <p><a ng-click="ShowPraia()" class="btn btn-primary btn-lg btn-block" ><i class="fontelico-emo-sunglasses"></i> Praias</a></p>
            <div id="praia" ng-show = "IsPraia" page-role="page">
                <div class="page-header">
                    <h2>Praia</h2>
                </div>
                <form>
                    <fieldset>
                        <legend>Filtro de Busca</legend>
                        <div class="input-group">
                            <label id="nomepraia">Local</label>
                            <input type="text" id="nomepraia" placeholder="Digite o local"/>
                        </div>
                    </fieldset>
                </form>
                <p><a ng-click="ShowResult()" class="btn btn-success btn-lg btn-block" ><i class="glyphicon glyphicon-search"></i> Pesquisar</p></a>
            </div>
            
            <div id="result" ng-show = "IsResult" page-role="page">
                <div id="resultado">
                    <div class="page-header">
                        <h1>Resultados</h1>
                        <p>Resultado 1</p>
                        <p>Resultado 3</p>
                        <p>Resultado 4</p>
                    </div>
                    <div>
                        <h3>Locais</h3>
                    </div>
                    <p><a data-toggle="modal" data-target="#mapa" class="btn btn-success btn-lg btn-block"> Mapa</a></p>

                    <div id="mapa" role="page" class="modal fade bs-example-modal-lg" tabindex="1" >
                        <div class="modal-content">
                            <div >
                                <p><a class="btn btn-danger btn-lg" class="close" data-dismiss="modal" aria-label="Close"><i class="fontawesome-remove" id="exit" ></i></a></p>
                                <h3 class="maps"><i class="iconicfill-map-pin-fill"></i> Mapa</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>