﻿@model IEnumerable<KeepEverything.RaysaDutra.Presentation.Models.TaskViewModel>

@{
    ViewBag.Title = "Tarefas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Tarefas</h2>
<p>Não esqueça de checar as @Html.ActionLink("Regras", "Index", "Home")</p>

<p>
    @Html.ActionLink("Criar nova Tarefa", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.NameCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameTask)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionTask)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentSituationTask)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDateTask)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndedDateTask)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.NameCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameTask)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionTask)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentSituationTask)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDateTask)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndedDateTask)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdTask }) |
            @Html.ActionLink("Detailhes", "Details", new { id=item.IdTask }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IdTask })
        </td>
    </tr>
}

</table>
