@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Keep Everything</h1>
    <p class="lead">O keep everything é um local para te lembrar o que você precisa fazer.</p>
    <h2>Isso é uma web API não tem interface para você navegar ;D.</h2>
</div>
