<div class="jumbotron">
    <h1>Keep Everything</h1>
    <p class="lead">O keep everything é um local para te lembrar o que você precisa fazer.</p>
    <h2>Aqui é um local para você apenas consultar</h2>
    <p>Aqui você voê pode ver as suas tarefas por <a href="/Tasks/Category">Categoria</a>.</p>
    <p>Aqui você voê pode ver as suas tarefas por <a href="/Tasks/Tag">Tag</a>.</p>
</div>