<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All</key>
	<array>
		<dict>
			<key>QuestionEn</key>
			<string>Hello! I don&apos;t speak Portuguese. Do you Speak English?</string>
			<key>QuestionPt</key>
			<string>Olá! Eu não falo português. Você fala inglês?</string>
			<key>Audio</key>
			<string>audio1Portugues.wav</string>
		</dict>
		<dict>
			<key>QuestionEn</key>
			<string>I&apos;m lost. Can you Help Me?</string>
			<key>QuestionPt</key>
			<string>Eu estou perdido. Você pode me ajudar?</string>
			<key>Audio</key>
			<string>audio2Perdido.wav</string>
		</dict>
		<dict>
			<key>QuestionEn</key>
			<string>I was robbed!</string>
			<key>QuestionPt</key>
			<string>Eu fui roubado!</string>
			<key>Audio</key>
			<string>audio3Roubado.wav</string>
		</dict>
		<dict>
			<key>QuestionEn</key>
			<string>Where is the police station?</string>
			<key>QuestionPt</key>
			<string>Onde fica a Delegacia?</string>
			<key>Audio</key>
			<string>audio4Delegacia.wav</string>
		</dict>
		<dict>
			<key>QuestionEn</key>
			<string>Is there any stand taxi here?</string>
			<key>QuestionPt</key>
			<string>Há algum ponto de táxi por aqui?</string>
			<key>Audio</key>
			<string>audio5Taxi.wav</string>
		</dict>
	</array>
</dict>
</plist>
