﻿@model KeepEverything.RaysaDutra.Presentation.Models.CategoryViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionCategory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCategory }) |
    @Html.ActionLink("Back to List", "Index")
</p>
