@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Keep Everything</h1>
    <p class="lead">O keep everything é um local para te lembrar o que você precisa fazer.</p>
    <h2>Regras:</h2>
    <p>Primeiro: você deve criar uma @Html.ActionLink("Tag", "Create", "Tags").</p>
    <p>Segundo: você deve criar uma @Html.ActionLink("Categoria", "Create", "Categories").</p>
    <p>Terceiro e última Regra: você cria as suas @Html.ActionLink("Tarefa", "Create", "Tasks").</p>
</div>
